h1 {
  color: purple;
  font-family: "Courier New", monospace;
}

#header1 {
  color: green !important;
  font-family: "Courier New", monospace;
}

body{
  background-color: lightyellow;
}

#cake {
  color: chocolate;
}

#french-fries {
  color: darkorchid;
}

#pudding {
  color: lightseagreen;
}